{% extends 'base.html' %}

{% block title %}{{ user['firstname'] }} {{ user['lastname'] }}{% end %}

{% block content %}
<div class="ui doubling padded grid">
    <div class="row">
        <div class="six wide column">
            <!-- user card -->
            <div class="ui card">
                <div class="content">
                    <header class="header">
                        <img class="ui avatar image"
                             src="{{ user['profile_medium'] }}">
                        {{ user['firstname'] }} {{ user['lastname'] }}
                    </header>
                    <div class="description">
                        {{ user['city'] }}, {{ user['country'] }}
                    </div>
                </div>
                <div class="ui three bottom attached buttons">
                    <div class="ui button">{{ user['follower_count'] }}
                        Followers
                    </div>
                    <div class="ui button">{{ user['friend_count'] }}
                        Following
                    </div>
                    <div class="ui button">{{ len(user['clubs']) }} <br>Clubs
                    </div>
                </div>
            </div>
            <!-- end user card -->

            <!-- achievements -->
            <h3>Achievements</h3>

            <div class="ui statistics">
                <div class="statistic">
                    <div class="text value">
                        {{ len(koms) }}
                    </div>
                    <div class="label">KOMs</div>
                </div>
                <div class="statistic">
                    <div class="text value">
                        {{ achievements['biggest_ride_distance']/1000 }}<br>km
                    </div>
                    <div class="label">Biggest ride</div>
                </div>
            </div>
            <h4>Year to date</h4>
            {{ achievements }}
            {% for achievement in achievements %}
            {% end %}
        </div>
        <div class="ten wide column">
            {% for activity in activities %}
            <div class="ui card">
                <div class="image dimmable">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui inverted button">Add Friend
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="/images/wireframe/image.png">
                </div>
                {{ activity }}
                {% end %}
            </div>
        </div>
    </div>
</div>
{% end %}

{% block js_body %}
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwHIRhWe7dHKeWgea8pnMztc986QfzWBc">
</script>
{% end %}