<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="{{ static_url('components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('components/bootstrap/dist/css/bootstrap-theme.min.css') }}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-2">
            <header>
                <div class="row">
                    <div class="col-md-3">
                    <img class="img-circle img-responsive" src="{{ data['athlete']['profile'] }}">
                    </div>
                    <div class="col-md-9"><strong>{{ data['athlete']['firstname'][0] }}. {{ data['athlete']['lastname'] }}</strong></div>
                </div>
            </header>
            <div class="nav">
                <ul>
                    <li>Bla</li>
                    <li>Bla 1</li>
                    <li>Bla 2</li>
                </ul>
            </div>
        </div>

        <!-- right column -->
        <div class="col-md-10">
            <div class="row">
                {% for activity in activities %}
                <div class="well well-lg col-md-3 col-md-offset-1">
                    <header>{{ activity['start_date_local'] }}</header>
                    <footer>{{ activity['type'] }}</footer>
                </div>
                {% end%}
            </div>
            <pre>{{ activities[0] }}</pre>
            <pre>{{ data}}</pre>
        </div>
    </div>
</div>
<script src="{{ static_url('components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ static_url('components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</body>
</html>